/*
 * Blue color #274abb
 */

/*
 * Edit Article
 */
.container {
    margin-top: 50px;
}

.product-box {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 5px;
    text-align: center;
    height: 240px;
    overflow: hidden;
    transition: .2s ease-in;
}

.product-box .img-div {
    height: 166px;
    overflow: hidden;
}

.product-box img {
    width: 250px;
    border: 1px solid #c0c0c0;
}

.product-details {
    padding-left: 10px;
}

.product-details .title {
    font-size: 22px;
    font-weight: 700;
    color: #333333;
}

.product-details .details {
    text-transform: capitalize;
    color: #969696;
}

.product-box:hover {
    box-shadow: #cccccc 8px 8px 10px;
    z-index: -10;
}
.product-single-box {

}